<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../css/style_profile.css" />
  </head>
  <body>
    <div class="container">
      <div class="d-flex flex-row mt-4">
        <div class="profile-img d-flex flex-column">
          <img src="../../image/sample-avatar.jpg" alt="avata" />
          <div class="align-self-center m-2">name goes here</div>
        </div>

        <div class="profile-info d-flex flex-column">
          <label for="user-name"
            >User name
            <p id="user-name">this is a name</p>
          </label>

          <label for="gender"
            >Gender
            <p id="gender">this is a gender</p>
          </label>

          <label for="dob"
            >Day of birth
            <p id="dob">this is a dob</p>
          </label>

          <label for="email"
            >Email
            <p id="email">this is a email</p>
          </label>

          <label for="phone"
            >Phone number
            <p id="phone">this is a phone number</p>
          </label>

          <label for="address"
            >Address
            <p id="address">this is a address</p>
          </label>

          <input type="button" value="Update Profile">
        </div>
      </div>
    </div>
  </body>
</html>
