<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eRecruitment</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../css/style_home.css" />
  </head>
  <body>

    <!-- post table and search box -->
    <div class="container">
      <div class="post-search-form">
        <input type="text" class="search box" placeholder="Search" />

        <label for="cate-1"
          >Category 1
          <select name="category-1" id="cate-1">
            <option value="1">cate 1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>
        <label for="cate-2"
          >Category 2
          <select name="category-2" id="cate-2">
            <option value="1">cate 1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>

        <input type="button" value="Search" />
      </div>

      <div class="post-list d-flex flex-row">
        <div class="post-table col-10">
			<h3>Post</h3>
          <div class="post-item">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
              nostrum harum perferendis excepturi voluptates amet nemo eos atque
              ratione ipsum eaque rem, sunt, velit ex quisquam dolorum tenetur!
              Iste, unde.
            </p>
          </div>

		  <div class="post-item">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
              nostrum harum perferendis excepturi voluptates amet nemo eos atque
              ratione ipsum eaque rem, sunt, velit ex quisquam dolorum tenetur!
              Iste, unde.
			  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
              nostrum harum perferendis excepturi voluptates amet nemo eos atque
              ratione ipsum eaque rem, sunt, velit ex quisquam dolorum tenetur!
              Iste, unde.
			  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
              nostrum harum perferendis excepturi voluptates amet nemo eos atque
              ratione ipsum eaque rem, sunt, velit ex quisquam dolorum tenetur!
              Iste, unde.
            </p>
          </div>
		  
        </div>
        <div class="category col-2">cate</div>
      </div>
    </div>
  </body>
</html>
